<h2>Edit your post</h2>

<%= form_for(:posts, url: "/posts/#{@post.id}", method: "PATCH") do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title,:value => @post.title %>
  <br />
  <br />
  <%= f.label :body %>
  <%= f.text_area :body, :value => @post.body %>
  <br />
  <br />
  <%= f.submit "Submit updates" %>
<% end %>
