<h3><%=@post.title %></h3>
<% if vote?(@post,1) %>
  <%= vote_counter(@post) %>
  <%= render partial: "votes/update_vote.html", locals: {value: -1,  id: user_vote(@post).id, sign: "V"} %>
<% elsif vote?(@post,-1)%>
  <%= render partial: "votes/update_vote.html", locals: {value: 1,  id: user_vote(@post).id, sign: "^"} %>
  <%= vote_counter(@post) %>
<% elsif user? %>
  <%= render partial: "votes/vote_buttons", locals: {value: 1, type: @post.class, id: @post.id, sign: "^"} %>
  <%= vote_counter(@post) %>
  <%= render partial: "votes/vote_buttons", locals: {value: -1, type: @post.class, id: @post.id, sign: "V"} %>
<% else %>
<%= vote_counter(@post) %>
<% end %>

<p>
  <%=@post.body  %>
</p>

<p>
  -<%= @author.username %>
</p>

<% if current_user_id == @author.id %>
  <%= link_to "Edit", edit_post_path %>
  <%= link_to "Delete", "/posts/#{@post.id}", method: "DELETE" %>
<% end %>


<h4>Comments:</h4>

  <% sort_by_votes(@comments).each do |comment| %>

      <% if vote?(comment,1) %>
        <%= vote_counter(comment) %>
          <%= comment.body %>
        <%= render partial: "votes/update_vote.html", locals: {value: -1,  id: user_vote(comment).id, sign: "V"} %>
      <% elsif vote?(comment,-1)%>
        <%= render partial: "votes/update_vote.html", locals: {value: 1,  id: user_vote(comment).id, sign: "^"} %>
        <%= vote_counter(comment) %>
          <%= comment.body %>
      <% elsif user? %>
        <%= render partial: "votes/vote_buttons", locals: {value: 1, type: comment.class, id: comment.id, sign: "^"} %>
        <%= vote_counter(comment) %>
          <%= comment.body %>
        <%= render partial: "votes/vote_buttons", locals: {value: -1, type: comment.class, id: comment.id, sign: "V"} %>
      <% else %>
      <%= vote_counter(comment) %>
        <%= comment.body %>
      <% end %>
      <br />
      --<%= comment.user.username %>
      <% if current_user == comment.user%>
        <br />
        <br />
        <%= link_to "Edit", "/comments/#{comment.id}/edit" %>
        <%= link_to "Delete", "/comments/#{comment.id}", method: "DELETE" %>
        <br />
        <br />
      <% end %>
      <br>
      <br>
      <br>
  <% end %>

<% if user? %>
  <%=link_to "Add comment","/posts/#{@post.id}/comments/new" %>
<% end %>
